.v-btn {
  &--floating {
    .v-btn__content {
      :not(:only-child) {
        &.v-btn__label {
          z-index: 1;
          @include center(y);
          left: auto;
          right: 100%;
          padding: .5rem 1.25rem;
          margin-right: 1rem;
          font-weight: 400;
          color: $gray-800;
          background-color: #fff;
          opacity: 1;
          border-radius: 4px;
          @include box_shadow_material(1);
          text-transform: none;
        }
      }
    }
  }
}
