.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #fff;
  background-color: $gray-600;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s ease;
  cursor: pointer;
  user-select: none;

  &:hover {
    text-decoration: none;
    color: #fff;
    background-color: $gray-700;
  }

  &:focus {
    outline: none;
  }

  &_outline {
    background-color: transparent;
    border: 2px solid $gray-600;

    &:hover {
      border-color: $gray-700;
    }
  }

  &_icon {
    height: 48px;
    width: 48px;
    font-size: 32px;
    border-radius: 100%;
    background-color: transparent;
    color: $gray-800;

    &:hover {
      color: $gray-800;
      background-color: black(.05);
    }
  }

  &_white {
    @include btn-color('white')
  }

  &_green {
    @include btn-color('green')
  }

  &_blue {
    @include btn-color('blue')
  }

  &_lg {
    font-size: 1.5rem;
    padding: .5rem 3rem;
  }

  &_pill {
    border-radius: 1000px;
  }

  &_link {
    color: $blue;
    background-color: transparent;
    border: transparent;
    text-transform: none;

    &:hover {
      color: $blue;
      background-color: transparent;
      border: transparent;
      text-decoration: underline;
    }
  }
}
