.card {
  display: flex;
  flex-direction: column;
  padding: 4px;
  justify-content: space-between;
  height: 100%;
  border: 1px solid $gray-300;
  border-radius: $border-radius;

  &__header {
    text-align: right;
  }

  &__body {
    padding: .5rem;
    flex: 1;
  }

  &__cost {
    padding: .5rem;
    font-family: $font-family-title;
    line-height: 1;
    font-weight: bold;
    font-size: 2rem;
    color: material-color('blue', '500');
  }

  &__footer {
    padding: .5rem;
  }
}
