.mdc-button {
  &--chip {
    border-radius: 5000px;

    img {
      border-radius: 5000px;
    }
  }

  &--img {
    padding-left: 0;
    img {
      display: block;
      width: 36px;
      height: 36px;
      margin-right: 8px;
    }
  }
}

.mdc-fab {
  position: absolute;
  z-index: 3;
  bottom: -28px;
  left: 1rem;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1.25rem;
  width: auto;
  border-radius: 5000px;
  color: #fff;
  background-color: $material-color-pink-500;

  @include media-breakpoint-down(lg) {
    padding-right: 1rem;
  }

  &__text {
    display: block;
    padding-left: .5rem;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: 500;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
