.auth {
  position: relative;
  width: auto;
  min-height: 100vh;
  background: blue url("/static/images/bg.jpg") no-repeat;
  background-size: cover;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;

    background: url("/static/images/bg.jpg") no-repeat;
    background-size: 500%;
    animation: move-background 70s linear infinite;
  }

  &__logo {
    position: relative;
    margin-bottom: 60px;
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 20vw;
    line-height: 1;
    text-shadow: 1px 2px 3px grey, 2px 5px 10px black(.3), 0 0 100px black(.3);
  }
}

@keyframes move-background {
  from {
    background-position: 0 0;
    opacity: 0;
  }

  25% {
    background-position: 100% 0;
    opacity: .5;
  }

  50% {
    background-position: 100% 100%;
    opacity: 0;
  }

  75% {
    background-position: 0 100%;
    opacity: .5;
  }
}
