.start {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background: material-color('blue') url("/static/images/bg.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .5;

    background: url("/static/images/bg.jpg") no-repeat;
    background-size: 500%;
    animation: move-background 70s linear infinite;
  }

  &__logo {
    position: relative;
    margin-bottom: 128px;
    font-family: $font-family-title;
    font-weight: 400;
    font-size: 20vw;
    line-height: 1;
    text-shadow: 1px 2px 3px material-color('grey', '700'), 2px 5px 10px black(.3), 0 0 100px black(.3);

    @include media-breakpoint-up(lg) {
      font-size: 110px;
    }
  }

  &__text {
    position: absolute;
    top: 100%;
    left: 3vw;
    padding-top: 4px;
    font-family: $font-family-base;
    font-weight: 300;
    font-size: 3vw;
    text-shadow: none;

    @include media-breakpoint-up(lg) {
      left: 16px;
      font-size: 16px;
    }
  }

  &__btn {
    padding: .7rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: 8px solid #fff;
    border-radius: 1000px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .3s ease;

    &:hover {
      color: $gray-800;
      background-color: #fff;
      text-decoration: none;
      box-shadow: 1px 2px 3px material-color('grey', '700'), 2px 5px 10px black(.3), 0 0 100px black(.3);
    }

    &:active {
      box-shadow: none;
    }
  }
}

@keyframes move-background {
  from {
    background-position: 0 0;
    opacity: 0;
  }

  25% {
    background-position: 100% 0;
    opacity: .5;
  }

  50% {
    background-position: 100% 100%;
    opacity: 0;
  }

  75% {
    background-position: 0 100%;
    opacity: .5;
  }
}
