// bootstrap customization
$grid-gutter-width: 1rem;
$font-family-base: 'Roboto', sans-serif;
$border-radius: 2px;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-500: #9E9E9E;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;

$blue:    #2196F3;
$indigo:  #3F51B5;
$purple:  #673AB7;
$pink:    #E91E63;
$red:     #f44336;
$orange:  #FF9800;
$yellow:  #FFEB3B;
$green:   #4CAF50;
$teal:    #009688;
$cyan:    #00BCD4;

// custom
$font-family-title: 'Roboto Condensed', sans-serif;
$border-radius-pill: 1000rem;
