// material customization
$mdc-theme-primary: $material-color-grey-900;
$mdc-theme-secondary: $material-color-yellow-500;
$mdc-theme-background: #fff;

// custom
$font-family-base: 'Roboto', sans-serif;
$border-radius-pill: 1000rem;
