// bootstrap customization
$grid-gutter-width: 1rem;

// material customization
$mdc-theme-primary: $material-color-grey-900;
$mdc-theme-secondary: $material-color-yellow-500;

// custom
$font-family-base: 'Roboto', sans-serif;
$border-radius-pill: 1000rem;

$side-paddings: 1.5rem;
