.animate-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .3s ease;
}


.slide-leave-to,
.slide-right-enter {
  transform: translateX(-100%);
}

.slide-right-leave-to,
.slide-enter{
  transform: translateX(100%);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
