.minw {
  &_100 {
    min-width: 100px;
  }

  &_150 {
    min-width: 150px;
  }

  &_200 {
    min-width: 200px;
  }

  &_250 {
    min-width: 250px;
  }

  &_300 {
    min-width: 300px;
  }
}

.height {
  &_full {
    height: 100vh
  }
}

.bg {
  &_main {
    background: url("/static/images/bg.jpg");
    background-size: cover;
  }
}

.font {
  &-size {
    &_100 {
      font-size: 8rem;
    }
  }

  &_pacifico {
    font-family: $font-family-title;
    font-weight: 400;
  }
}
