@function black($opacity) {
  @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
  @return rgba(255, 255, 255, $opacity);
}

//@function material-color-safe($color-name, $color-variant: '500') {
//  @if $color-name == 'white' {
//    @return #ffffff;
//  } @else if $color-name == 'black' {
//    @return 000000;
//  } @else {
//    @return material-color($color-name, $color-variant);
//  }
//}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  } @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  } @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

@mixin box_shadow_material($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}
//
//@mixin btn-color($bg-color, $text-color: 'white') {
//  @if $text-color == 'white' {
//    color: #ffffff;
//  } @else if $text-color == 'black' {
//    color: material-color('grey', '800')
//  } @else {
//    @warn "!!! ERROR: TEXT COLOR NOT VALID !!! | $text-color must be 'white' or 'black'";
//  }
//
//  background-color: material-color-safe($bg-color);
//
//  &:hover {
//    background-color: material-color-safe($bg-color, '600');
//  }
//
//  &.btn_outline {
//    background-color: transparent;
//    border-color: material-color-safe($bg-color);
//
//    &:hover {
//      @if $text-color == 'white' {
//        color: material-color('grey', '800')
//      }
//
//      background-color: material-color-safe($bg-color, '600');
//      border-color: material-color-safe($bg-color, '600');
//    }
//  }
//}
