$font-family-sans-serif: 'Open Sans Condensed', sans-serif;
$font-family-base: 'Open Sans Condensed', sans-serif;
$font-family-title: 'Pacifico', cursive;;

$border-radius-pill: 1000rem;
$border-radius: 4px;
$border-radius-lg: 4px;
$border-radius-sm: 4px;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$blue: material-color('blue');
$indigo: material-color('indigo');
$purple: material-color('purple');
$pink: material-color('pink');
$red: material-color('red');
$orange: material-color('orange');
$yellow: material-color('yellow');
$green: material-color('green');
$teal: material-color('teal');
$cyan: material-color('cyan');
